.cool {
  background-color: #218c74 !important;
}
element.style {
  height: 5px !important;
  width: 10px !important;
}

.btn {
  line-height: -20px !important;
  justify-content: center;
}

.btn::before {
  width: 101% !important;
  height: 101% !important;
  background: #84e3ce !important;
}

.btn:hover {
  background: #84e3ce !important;
}
.dropdown-item:hover {
  background: #84e3ce !important;
}
.dropdown-item::after {
  background: #84e3ce !important;
}
