.whole {
  margin-right: 40px !important;
  border: 2px solid #218c74 !important;
  border-radius: 25px;
}

.left {
  padding-right: 1px !important;
  margin-bottom: 10px !important;
}

.right {
  padding-left: 1px !important;
  margin-bottom: 10px !important;
}

.right form input,
.right form textarea {
  height: 350px !important;
}
